#currentItemsInCartContainer {
	width: 100%;
	background-color: #0E0829;
	position: fixed;
	bottom: 0;
	min-width: 620px;
}

#currentItemsInCart {
	display: flex;
	height: 90px;
	padding: 16px;
	box-sizing: border-box; /* Takes into account the padding */
}


#itemInCartLeft,
#itemInCartRight {
	width: 30%;
	/*min-width: 280px;*/
}

#itemInCartRight span { color: white; }
#itemInCartRight span:hover { color: #00b9e5; }
#itemInCartRight img { width: 57px; height: 100%; padding-right: 10px; padding-left: 15px;}

#itemInCartLeft .itemAmount { text-align: left; float: left; min-width: 50px; padding-right: 20px;}
#itemInCartLeft .description { float: left;}
#itemInCartLeft .itemName { display: table; padding-bottom: 8px;}

#itemInCartLeft .itemPicture {
	max-width: 57px;
	margin-right: 15px;
	width: 57px;
	height: 100%;
	float: left;
	background-size: cover;
}

#itemInCartLeft .itemInfo .itemName span { font-size: 16px; color: #a0a0a0; }
/*#itemInCartLeft .itemName { padding-bottom: 1%;}*/

#itemInCartLeft .itemName .itemInfo {
	margin: 6px 0;
	display: inline-block;
	width: 100%;
}

#itemInCartCenter {
	width: 40%;
	max-width: 700px;
	/*display: flex;*/
	flex-direction: column;
	/*align-items: center;*/
	color: #a0a0a0;
}

#itemInCartCenter .content { width: 100%; margin: 0 auto; display: table;}

#itemInCartRight { vertical-align: middle; float: right; cursor: pointer; }
#itemInCartRight span { font-size: 30px; padding-left: 10px; padding-bottom: 10px; position: absolute;}