#animate.hidden { display: none; }

nav .lang .active { text-decoration: underline; }

.home { display: block; width: 100%;}

a:hover { color: #62D9D7;}

.title {
	text-align: center;
	/*margin: fill;*/
	height: 100%;
	padding-bottom: 15%;
	padding-top: 12.5%;
}
.title h2 { color: 	white; padding-top: 20px; } 

.responsive { display: inline-block; background-image:linear-gradient(180deg, #0E0829, #3F2033); }

.gallery {
	padding: 2.5% 12.5%;
	display: flex;
	position: relative;
	vertical-align: center;
}

/* Clears all the things that constraints */
.responsive::after { content: ""; clear: both; display: table; }
.icon { width: 40%; height: 312px; float: left; margin: 10px; vertical-align: center; top: 50%; }
.desc { margin-left: 10%; width: 60%; height: auto; float: left; }


form { display: inline-block; text-align: center; width: 100%; background-color: transparent;}

form p span { padding-top: 20px; padding-bottom: 20px; opacity: 0.85; color: darkgray; font-size: 36px;  }
.quickrequest { line-height: 27px; height: 100%; display: flex;}