@font-face {
	font-family: RaleWay-Regular;
	src: url(../fonts/RaleWay-Regular.ttf);
}

body {
	font-family: RaleWay-Regular, Menlo, Helvetica, sans-serif;
	/*text-decoration: none;*/
	/*margin: 0;*/
	/*background-image: linear-gradient(180deg, #0E0829, #3F2033);*/
	/*background: white url("../images/plan_light_wallpaper.png") no-repeat fixed center;*/
	color: white;
	/* display: flex; */
	/*min-height: 100%;*/
	background: white url("../images/plan_dark-wallpaper.png") no-repeat fixed center;
	background-size: cover;
	display: table;
	margin: 0;
	padding-top: 0;
	height: 100%;
	width: 100%;
}

.fixed-bckg {
	background: white url("../images/astronautBckg.jpg") no-repeat fixed center;
	background-size: cover;
	margin: 0;
	padding-top: 0;
	height: 100%;
}

.left { float: left; }

nav li .right { float: right; }

.lang { float: right; padding-top: 0px; padding-right: 10px; }

.lang:last-child { padding-right: 10px;}

.menu { margin-top: 15px; }

nav {
	margin: 0;
	padding: 0px 10px 10px 10px;
	background-color: transparent;
	color: white;
	position: fixed;
	font-size: 14px;
	width: 100%;
	height: 15px;
}

/*nav:after { background-color: #212121;}*/

nav a {
	margin-top: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 10px;
}

ul {
	display: block;
	/* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
	grid-gap: 2px;
}

nav li a:hover { color: #62D9D7; }

nav li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

body::after { content: ""; clear: both; display: block; }

/* 
@media screen and (max-width: 768px) {
	nav li.right,
	nav li {
		float: none; width: 100%; position: none; display: block;
	}
} */

/*@media only screen and (max-width: 768px) {*/
	/*!* For mobile phones: *!*/
	/*[class*="col-"] {*/
		/*width: 100%;*/
	/*}*/
/*}*/

nav {
	-webkit-animation-duration: 1s; /* safari */
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;}

.errorMessage { color: #00edd2; font-size: 12px; display: block; margin-top: 13px; }

.quickrequest {
	background-image: linear-gradient(180deg, #2e1725, #3F2033);
	padding: 7em;
}

form { color: #ffffff;}
form input[type="email"] {
	border: none;
	/*border-bottom: limegreen;*/
	width: 80%; font-size: 14px;
	margin: 20px auto;
	text-align: center;
}

form input[type="email"] { border-bottom: #00edd2; }

form button {
	width: 250px;
	height: 55px;
	/*background-color: limegreen;*/
	background-image:  -webkit-linear-gradient(180deg, #00edd2, #00b9e5);
	border-radius: 30px;
	/*text-decoration: none;*/
	border: none;
	/*position: relative;*/
	bottom: 2em;
}

form input {
	background-color: transparent;
	/*border-bottom: limegreen;*/
}

textarea {
	background-color: transparent;
	border-color: #00edd2;
}