.plans {
	text-align: center;
	/*margin: fill;*/
	/*height: 100%;*/
	/*padding-bottom: 15%;*/
	/*padding-top: 12.5%;*/

}

.center { top: 10%; margin-top: 5%;}

h1 {
	opacity: 0.5;
	margin-top: 7%;
}

h2 {
	background-image: -webkit-linear-gradient(180deg, #00edd2, #00b9e5);
	width: 100%;
	height: 50%;
}

h4 {
	opacity: 0.5;
}

div.gallery {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding-top: 15px;
	background-color: #3a2132;
	opacity: 0.3%;
}

div.gallery:hover {
	border: 1px solid #777;
}

/*div.gallery img {*/
/*width: 60%;*/
/*height: auto;*/
/*position: relative;*/
/*left: 20%;*/
/*top: 10%;*/
/*}*/

div.desc {
	padding: 15px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
}

.responsive {
	/*padding: 0 6px;*/
	float: left;
	width: 25%;
	/*padding-top: 5%;*/
	border-radius: 30px;
	margin: 10px 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 10%;
}

button {
	width: 75%;
	height: 55px;
	border-radius: 30px;
	position: relative;
	bottom: 2em;
	cursor: pointer;
	background-image: -webkit-linear-gradient(180deg, #00edd2, #00b9e5);
	border: none;
	color: white;
	font-size: 14px;
}

button a {
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 1028px) {
	.responsive {
		/*width: 49.99999%;*/
		grid-column-gap: 1fr;
	}
}

@media only screen and (max-width: 768px) {
	.responsive {
		width: 100%;
	}
}

/*.clearfix:after {*/
/*content: "";*/
/*display: table;*/
/*clear: both;*/
/*}*/