AuthType Basic
AuthName "Administrative Area"
AuthUserFile /Applications/MAMP/htdocs/ETAWebsite/src/includes/handlers/admin/.htpasswd
Require valid-user
ErrorDocument 404 /Applications/MAMP/htdocs/ETAWebsite/src/includes/handlers/admin/ErrorHTTP_handler.php
ErrorDocument 500 /Applications/MAMP/htdocs/ETAWebsite/src/includes/handlers/admin/ErrorHTTP_handler.php